# clean up files
.clang-format
.vscode/

# build artifacts 
*.exe
*.dat
build/
cmake/
CmakeLists.txt

# graphs and plotting
*.ipynb
*.pdf
*.gif

# miscellaneous
Template.cpp
report/

# libraries
include/
lib/
glad.c
